body {
  margin: 0px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

#screen-a {
  width: 528px;
  height: 257px;
  display: flex;
}

#screen-b {
  width: 528px;
  height: 257px;
  display: flex;
}

.dark-mode {
  background-color: #1d202f;
  color: #c6dce4;
}

.dark-mode .secondary {
  background-color: #31354d;
}

.light-mode {
  background-color: #c6dce4;
  color: #1d202f;
}

.light-mode .secondary {
  background-color: #b5c6d2;
}

#date-time-view {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
}

#time-label {
  font-family: "Oxanium";
  font-size: 64px;
  font-weight: 600;
  display: flex;
}

#date-label {
  font-family: "Oxanium";
  font-size: 24px;
  font-weight: 600;
  display: flex;
}

#music-player-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#display-wrapper {
  display: flex;
  justify-content: center;
  padding: 26px;
}

#player-wrapper {
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
}

#song-label {
  font-family: "Oxanium";
  font-size: 18px;
  font-weight: 500;
  align-self: center;
}

#album-art-wrapper {
  width: 122px;
  height: 122px;
  background-size: contain;
}

#progress-bar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#progress-bar-duration {
  height: 5px;
  width: 391px;
  background-color: #1d202f;
  border-radius: 5px;
}

#progress-bar-position {
  height: 5px;
  width: 391px;
  background-color: #c6dce4;
  border: 1px solid #1d202f;
  border-radius: 5px;
  box-sizing: border-box;
}

#position-label {
  font-family: "Oxanium";
  font-size: 12px;
  font-weight: 500;
  margin-right: 10px;
}

#duration-label {
  font-family: "Oxanium";
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
}

.forecast-item.selected {
  background-color: #b5c6d2;
}

.selected {
  background-color: red;
}
