body {
  margin: 0px;
  font-family: 'Oxanium';
}

.wrapper {
  display: flex;
  flex-direction: row;
}

#screen-a {
  width: 528px;
  height: 257px;
  display: flex;
}

#screen-b {
  width: 528px;
  height: 257px;
  display: flex;
}

.dark-mode {
  background-color: #1d202f;
  color: #c6dce4;
}

.dark-mode .secondary {
  background-color: #31354d;
}

.light-mode {
  background-color: #c6dce4;
  color: #1d202f;
}

.light-mode .secondary {
  background-color: #b5c6d2;
}

#date-time-view {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
}

#time-label {
  font-family: 'Oxanium';
  font-size: 64px;
  font-weight: 600;
  display: flex;
}

#date-label {
  font-family: 'Oxanium';
  font-size: 24px;
  font-weight: 600;
  display: flex;
}

#music-player-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#player-wrapper {
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
}

#song-label {
  font-family: 'Oxanium';
  font-size: 18px;
  font-weight: 500;
  align-self: center;
}

#album-art-wrapper {
  width: 122px;
  height: 122px;
  background-size: contain;
}

#progress-bar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#progress-bar-duration {
  height: 5px;
  width: 391px;
  background-color: #1d202f;
  border-radius: 5px;
}

#progress-bar-position {
  height: 5px;
  width: 391px;
  background-color: #c6dce4;
  border: 1px solid #1d202f;
  border-radius: 5px;
  box-sizing: border-box;
}

#position-label {
  font-family: 'Oxanium';
  font-size: 12px;
  font-weight: 500;
  margin-right: 10px;
}

#duration-label {
  font-family: 'Oxanium';
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
}

.forecast-item.selected {
  background-color: #b5c6d2;
}

.selected {
  border: 1px solid #6b0bb7 !important;
}

.weather-detail-item {
  display: flex;
  justify-content: space-between;
}

.weather-detail-item:empty {
  padding: 0px;
  display: none;
}

div.weather-detail-label:empty {
  padding: 0px;
  display: none;
}

div.weather-detail-value:empty {
  padding: 0px;
  display: none;
}

#weather-view-wrapper {
  width: 100%;
}

#top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 18px;
  padding-top: 23px;
  padding-right: 18px;
}

#display-wrapper {
  display: flex;
  flex-direction: column;
}

#weather-details-mount {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 200px;
}

#forecast-wrapper {
  display: flex;
  flex-direction: column;
}

#forecast {
  display: flex;
  flex-direction: row;
}

#current-day {
  font-size: 18px;
  font-weight: 500;
}

#current-temp {
  font-size: 48px;
  font-weight: 500;
  line-height: 50px;
}

#current-description {
  font-size: 14px;
  font-weight: 500;
  padding-top: 12px;
}

.weather-detail-item {
  display: flex;
  align-items: baseline;
}

.weather-detail-label {
  font-size: 12px;
  flex: 1;
  line-height: 15px;
  font-weight: 500;
  color: rgba(29, 32, 47, 0.6);
  border-bottom: 1px solid rgba(29, 32, 47, 0.6);
  padding-top: 5px;
}

.weather-detail-value {
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  border-bottom: 1px solid rgba(29, 32, 47, 0.6);
  align-self: flex-end;
}

#forecast-wrapper {
  margin-left: 18px;
  border: 1px solid #1d202f;
  border-radius: 10px;
}

#forecast {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.forecast-item {
  width: 89px;
  height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#forecast img {
  width: 15px;
  height: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.forecast-item .temp {
  font-size: 12px;
  margin-left: 5px;
}

.forecast-item .time {
  font-size: 12px;
}

#current-temp-wrapper {
  display: flex;
}

#weather-details-wrapper {
  height: 90px;
  overflow-y: scroll;
}

#current-icon {
  height: 37px;
}

#line-mount {
  position: relative;
  bottom: 0px;
}
