<div id='forecast'>
    <div id='forecast-item-0' class="selectable forecast-item">
        <div class="icon"></div>
        <div class="temp"></div>
        <div class="time"></div>
    </div>
    <div id='forecast-item-1' class="selectable forecast-item">
        <div class="icon"></div>
        <div class="temp"></div>
        <div class="time"></div>
    </div>
    <div id='forecast-item-2' class="selectable forecast-item">
        <div class="icon"></div>
        <div class="temp"></div>
        <div class="time"></div>
    </div>
    <div id='forecast-item-3' class="selectable forecast-item">
        <div class="icon"></div>
        <div class="temp"></div>
        <div class="time"></div>
    </div>
    <div id='forecast-item-4' class="selectable forecast-item">
        <div class="icon"></div>
        <div class="temp"></div>
        <div class="time"></div>
    </div>
    <div id='forecast-item-5' class="selectable forecast-item">
        <div class="icon"></div>
        <div class="temp"></div>
        <div class="time"></div>
    </div>
</div>