<div id='weather-view-wrapper'>
    <div id='top-wrapper'>
        <div id='display-wrapper' class="selectable">
            <div id='current-day'></div>
            <div id='current-temp-wrapper'>
                <div id='current-temp'></div>
                <img id='current-icon' src=''/>
            </div>
            <div id='current-description'></div>
        </div>
        <div id='weather-details-mount'>
        </div>
    </div>
    <div id='forecast-wrapper' class="selectable">
    </div>
</div>