<div id='weather-details-wrapper'>
    <div id='detail-0' class='weather-detail-item'>
        <div id='detail-0-label' class='weather-detail-label'></div>
        <div id='detail-0-value' class='weather-detail-value'></div>
    </div>
    <div id='detail-1' class='weather-detail-item'>
        <div id='detail-1-label' class='weather-detail-label'></div>
        <div id='detail-1-value' class='weather-detail-value'></div>
    </div>
    <div id='detail-2' class='weather-detail-item'>
        <div id='detail-2-label' class='weather-detail-label'></div>
        <div id='detail-2-value' class='weather-detail-value'></div>
    </div>
    <div id='detail-3' class='weather-detail-item'>
        <div id='detail-3-label' class='weather-detail-label'></div>
        <div id='detail-3-value' class='weather-detail-value'></div>
    </div>
    <div id='detail-4' class='weather-detail-item'>
        <div id='detail-4-label' class='weather-detail-label'></div>
        <div id='detail-4-value' class='weather-detail-value'></div>
    </div>
    <div id='detail-5' class='weather-detail-item'>
        <div id='detail-5-label' class='weather-detail-label'></div>
        <div id='detail-5-value' class='weather-detail-value'></div>
    </div>
    <div id='detail-6' class='weather-detail-item'>
        <div id='detail-6-label' class='weather-detail-label'></div>
        <div id='detail-6-value' class='weather-detail-value'></div>
    </div>
    <div id='detail-7' class='weather-detail-item'>
        <div id='detail-7-label' class='weather-detail-label'></div>
        <div id='detail-7-value' class='weather-detail-value'></div>
    </div>
    <div id='detail-8' class='weather-detail-item'>
        <div id='detail-7-label' class='weather-detail-label'></div>
        <div id='detail-7-value' class='weather-detail-value'></div>
    </div>
    <div id='detail-9' class='weather-detail-item'>
        <div id='detail-7-label' class='weather-detail-label'></div>
        <div id='detail-7-value' class='weather-detail-value'></div>
    </div>
</div>