<div id='weather-details-mount'>
    <div id='detail-0'>
        <div id='detail-0-label'></div>
        <div id='detail-0-value'></div>
    </div>
    <div id='detail-1'>
        <div id='detail-1-label'></div>
        <div id='detail-1-value'></div>
    </div>
    <div id='detail-2'>
        <div id='detail-2-label'></div>
        <div id='detail-2-value'></div>
    </div>
    <div id='detail-3'>
        <div id='detail-3-label'></div>
        <div id='detail-3-value'></div>
    </div>
    <div id='detail-4'>
        <div id='detail-4-label'></div>
        <div id='detail-4-value'></div>
    </div>
    <div id='detail-5'>
        <div id='detail-5-label'></div>
        <div id='detail-5-value'></div>
    </div>
    <div id='detail-6'>
        <div id='detail-6-label'></div>
        <div id='detail-6-value'></div>
    </div>
    <div id='detail-7'>
        <div id='detail-7-label'></div>
        <div id='detail-7-value'></div>
    </div>
</div>