<div id='weather-view-wrapper'>
    <div id='top-wrapper'>
        <div id='display-wrapper' class="selectable">
            <div id='current-day'></div>
            <div id='current-temp-wrapper'>
                <div id='current-temp'></div>
                <img id='current-icon' src=''/>
            </div>
            <div id='current-description'></div>
        </div>
        <div id='weather-details-mount'>
        </div>
    </div>
    <!-- <div id='forecast-wrapper' class="selectable">
    </div> -->
    <div id='line-mount'>
        <svg width='100%' height='125px'>
            <path id='forecast-line' d="M 0 75 Q 0 75 528 75" stroke='black' fill='transparent' stroke-width='2'/>
            <circle id='dot' cx="0" cy="62" r="8" class="outer-dot" fill="rgba(52, 55, 69, 0.6)"/>
            <circle id='dot' cx="0" cy="62" r="4" stroke="black" fill="#1d202f"/>
        </svg>
    </div>
</div>